<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         verbose="true">

    <testsuites>
        <testsuite name="Jokenpo game">
            <file>tests/MatchEvaluatorTest.php</file>
            <file>tests/MoveTest.php</file>
            <file>tests/NoPlayerTest.php</file>
            <file>tests/RealPlayerTest.php</file>
        </testsuite>
    </testsuites>

</phpunit>
